nav{
  background-color: #333;
  padding: 10px 0;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li{
  display: inline-block;
  margin: 0 20px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: Arial, sans-serif;
  padding: 6px 10px;
  border-radius: 4px;
  transition: 0.3s;
}

nav ul li a:hover{
  background-color: #555;
}

