* / style.css/ *
 * {
    background-color: rgb(207, 190, 190);
    font-family: 'Times New Roman', Times, serif;
    
}
.firstblog {
    background-color: aqua;
    margin: 20px;
    padding: 10px;

}